:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;

    /* Latte (light theme) colors */
    --theme: rgb(239, 241, 245); /* Base */
    --entry: rgb(255, 251, 247); /* Surface */
    --primary: rgb(76, 79, 105); /* Text */
    --secondary: rgb(147, 153, 178); /* Subtext0 */
    --tertiary: rgb(214, 219, 235); /* Overlay0 */
    --content: rgb(60, 64, 88); /* Surface2 */
    --code-block-bg: rgb(24, 24, 37); /* Lavender */
    --code-bg: rgb(24, 24, 37); /* Base */
    --border: rgb(205, 214, 244); /* Overlay1 */
}

.dark {
    /* Mocha (dark theme) colors */
    --theme: rgb(30, 30, 46); /* Base */
    --entry: rgb(24, 24, 37); /* Mantle */
    --primary: rgb(205, 214, 244); /* Text */
    --secondary: rgb(166, 173, 186); /* Subtext0 */
    --tertiary: rgb(82, 87, 110); /* Overlay0 */
    --content: rgb(198, 208, 245); /* Surface2 */
    --code-block-bg: rgb(24, 24, 37); /* Lavender */
    --code-bg: rgb(24, 24, 37); /* Base */
    --border: rgb(62, 66, 83); /* Overlay1 */
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
